/* здесь подключите шрифты */
@include font-face("Lato", 400, normal, url("../../fonts/lato/Lato-Regular.woff2"), url("../../fonts/lato/Lato-Regular.woff"));
@include font-face("Oswald", 400, normal, url("../../fonts/oswald/oswald-regular.woff2"), url("../../fonts/oswald/oswald-regular.woff"));
