.additional-product {
  padding: 13px 0 19px;
}

.additional-product__title {
  @include font-some-params($font-secondary, 16px, 16px);
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: $text-color-secondary-light;
}

.additional-product__params {
  @include font-some-params($font-primary, 14px, 14px);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
// .additional-product__unit {}
// .additional-product__price {}
// .additional-product__order {}
