.additional-catalog__title {
  margin: 0;
  margin-bottom: 36px;
  position: relative;
  width: fit-content;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.additional-catalog__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional-catalog__list {
  @include list-reset;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-catalog__item {
  padding: 12px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px;
  }
}

.additional-catalog__promo {
  @include font-some-params($font-primary, 16px, 20px);
  @include bg-some-params;
  padding: 60px 50px 43px;
  color: $text-color-basis;
  text-align: center;
  background-color: $bg-color-basis;
  background-image:
    image-set(
      url("../../images/additional-catalog/box-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/additional-catalog/box-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/additional-catalog/box-bg-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/additional-catalog/box-bg-mobile@1x.jpg") type("image/jpg") 1x
    );
  background-size: cover;

  &::before {
    content: "";
    display: block;
    margin: 0 auto 48px;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    padding: 57px 100px 60px 77px;
    display: flex;
    align-items: center;
    column-gap: 264px;
    text-align: start;
    background-image:
      image-set(
        url("../../images/additional-catalog/box-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/additional-catalog/box-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/additional-catalog/box-bg-tablet@2x.jpg") type("image/jpg") 2x,
        url("../../images/additional-catalog/box-bg-tablet@1x.jpg") type("image/jpg") 1x
      );

    &::before {
      margin: 0;
      width: 80px;
      height: 83px;
      flex-shrink: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 56px 40px 42px;
    flex-direction: column;
    gap: 46px;
    text-align: center;
    background-image:
      image-set(
        url("../../images/additional-catalog/box-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/additional-catalog/box-bg-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/additional-catalog/box-bg-desktop@2x.jpg") type("image/jpg") 2x,
        url("../../images/additional-catalog/box-bg-desktop@1x.jpg") type("image/jpg") 1x
      );
  }
}
