.additional-catalog {
  padding: 25px 20px 20px;
}

.additional-catalog__title {
  margin: 0;
  margin-bottom: 36px;
}

.additional-catalog__list {
  @include list-reset;
}

.additional-catalog__item {
  border-top: 1px solid $border-color-basis;

  &:last-child {
    margin-bottom: 35px;
    border-bottom: 1px solid $border-color-basis;
  }
}

.additional-catalog__promo {
  @include font-some-params($font-primary, 16px, 20px);
  @include bg-some-params;
  padding: 60px 50px 43px;
  color: $text-color-basis;
  text-align: center;
  background-image:
    image-set(
      url("../../images/additional-catalog/box-bg-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/additional-catalog/box-bg-mobile@1x.jpg") type("image/jpg") 1x
    );
  background-size: cover;

  &::before {
    content: "";
    display: block;
    margin: 0 auto 48px;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
