// .address {}
.address__content-wrap {
  @include center-flex(space-between);
  padding: 26px 15px;
  gap: 15px;

  &--bg-primary {
    background-color: $bg-color-primary;
  }
}

.address__text {
  @include font-some-params($font-secondary, 16px, 20px);
  margin: 0;
  color: $text-color-secondary-lighter;
  text-transform: uppercase;
}

.address__location {
  margin: 0;
  letter-spacing: -0.1px;
}
// .address__location-street {}
// .address__location-city {}
.address__map {
  width: 100%;
  height: 362px;
  background-image:
    image-set(
      url("../../images/map/map-bg-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/map/map-bg-mobile@1x.jpg") type("image/jpg") 1x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 500px) {
    background-image:
      image-set(
        url("../../images/map/map-bg-tablet@2x.jpg") type("image/jpg") 2x,
        url("../../images/map/map-bg-tablet@1x.jpg") type("image/jpg") 1x
      );
  }
}
// .address__map-image {}
