.button {
  @include font-some-params($font-secondary, 16px, 20px);
  @include button;

  &--secondary {
    color: $text-color-primary;
    background: $bg-color-secondary;
  }

  &--big {
    @include font-some-params($font-secondary, 20px, 26px);
  }

  &--promo {
    @include font-some-params($font-primary, 16px, 20px);
    text-transform: none;
    background-image:
      image-set(
        url("../../images/additional-catalog/button-bg-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/additional-catalog/button-bg-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/additional-catalog/button-bg-mobile@2x.jpg") type("image/jpg") 2x,
        url("../../images/additional-catalog/button-bg-mobile@1x.jpg") type("image/jpg") 1x
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
