// .compare-slider {}
// .compare-slider__images-container {}
// .compare-slider__image {}
// .compare-slider__range-handle {}
// .compare-slider__slider-line {}
// .compare-slider__slider-control {}
