.compare-slider {
  --js-position: 50%;

  position: relative;
  display: grid;
  place-content: center;
  width: max-content;
  color: $bg-color-dark;
  transition: color 0.3s ease-in-out;
}

.compare-slider:hover,
.compare-slider:focus-within {
  color: $bg-color-basis;
}

.compare-slider:active {
  color: #96c47a;
}

.compare-slider__images-container {
  --width: clamp(280px, 100vw - 40px, 560px);
  position: relative;
  width: var(--width);
  height: calc(var(--width)/35 * 32);
}

.compare-slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  overflow: hidden;

  &--before {
    position: absolute;
    inset: 0;
    width: var(--js-position);
    background-color: $bg-color-secondary-darken;
  }

  @media (min-width: $tablet-width) {
    &--before {
      background-color: transparent;
      background-image: linear-gradient(0deg, #eaeaea 362px, #ffffff 362px 100%);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(180deg, #ffffff 135px, #eaeaea 135px 100%);
  }
}

.compare-slider__range-handle {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  cursor: ew-resize;
}

.compare-slider__control {
  position: absolute;
  left: var(--js-position);
  padding: 0;
  width: 4px;
  height: 100%;
  background-color: currentColor;
  border-radius: 2px;
  z-index: 1;
  pointer-events: none;
  transform: translateX(-50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
  }

  &::before {
    top: calc(50% - 40px/2);
    left: calc(50% - 40px/2);
    background-color: $bg-color-primary;
    border: 2px solid currentColor;
    border-radius: 50%;
  }

  &::after {
    top: calc(50% - 18px/2);
    left: calc(50% - 24px/2);
    width: 24px;
    height: 18px;
    background-color: currentColor;
    mask-image: url("../../icons/stack.svg#slider-thumb");
    mask-position: center;
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }
}
