.compare-slider {
  --js-position: 50%;

  position: relative;
  display: grid;
  place-content: center;
  width: max-content;
}

.compare-slider__images-container {
  position: relative;
  width: 280px;
  height: 256px;
  aspect-ratio: 1/1;
}

.compare-slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  overflow: hidden;

  &--before {
    position: absolute;
    inset: 0;
    width: var(--js-position);
    background-color: $bg-color-secondary-darken;
  }
}

.compare-slider__range-handle {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  cursor: ew-resize;
}

.compare-slider__control {
  position: absolute;
  left: var(--js-position);
  padding: 0;
  width: 4px;
  height: 100%;
  background-color: $bg-color-dark;
  border-radius: 2px;
  z-index: 1;
  pointer-events: none;
  transform: translateX(-50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
  }

  &::before {
    top: calc(50% - 40px/2);
    left: calc(50% - 40px/2);
    background-color: $bg-color-primary;
    border: 2px solid #666666;
    border-radius: 50%;
  }

  &::after {
    top: calc(50% - 18px/2);
    left: calc(50% - 24px/2);
    width: 24px;
    height: 18px;
    background-color: $bg-color-dark;
    mask-image: url("../../icons/stack.svg#slider-thumb");
    mask-position: center;
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }
}
