.copyright {
  @include center-flex(space-between);
  @include font-some-params($font-primary, 16px, 20px);
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    flex-shrink: 0;
    background-color: $bg-color-dark;
    mask-image: url("../../icons/stack.svg#logo-htmlacademy");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    transition: background-color 0.3s ease-in-out;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $bg-color-basis;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    background-color: $bg-color-basis;
  }
}
