.example {
  padding: 25px 20px 40px;
  background-color: $bg-color-secondary-darken;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 42px;
    background-color: $bg-color-primary;
    background-image: linear-gradient(0deg, #eaeaea 462px, #ffffff 462px 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px;
    grid-template-columns: minmax(30px, 1fr) 440px minmax(1280px - 500px, 1fr) minmax(30px, 1fr);
    column-gap: 0;
    background-image: linear-gradient(180deg, #ffffff 135px, #eaeaea 135px 100%);
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
    grid-column: 2 / 3;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    grid-column: 2 / 3;
  }
}

.example__infographic {
  @include list-reset;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    grid-column: 2 / 3;
  }
}

.example__expenses {
  @include font-some-params($font-secondary, 14px, 20px);
  margin: 0;
  margin-bottom: 20px;
  color: $text-color-secondary;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    justify-self: end;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    justify-self: start;
  }
}

.example__sum {
  font-weight: inherit;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    display: block;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin: 0 0 0 63px;
  }
}

.example__slider {
  margin: 100px auto 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 10px;
    grid-column: 3 / 4;
    grid-row: 1 / span 4;
    place-self: start end;
  }
}
