.field-input {
  @include font-some-params($font-secondary, 20px, 30px);
  padding: 12px;
  width: 100%;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: $border-color-basis;
  }

  &:focus-visible,
  &:focus {
    outline: 2px solid #444444;
    outline-offset: -2px;
  }

  &:user-invalid,
  &--invalid {
    outline: 2px solid $border-color-error;
    outline-offset: -2px;
  }
}
