.form {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.form__group {
  margin: 0;
  padding: 0 20px 25px;
  border: none;

  &--border {
    margin-bottom: 24px;
    padding: 20px;
    border-top: 1px solid $border-color-darken;
    border-bottom: 1px solid $border-color-darken;
  }
}

.form__group-title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.form__group-list {
  @include list-reset;
}

.form__group-item {
  display: flex;
  align-items: center;
  gap: 13px;

  &--img-email,
  &--img-phone {
    position: relative;
  }

  &--img-email .field-input,
  &--img-phone .field-input {
    padding-right: 40px;
  }

  &--img-email::after,
  &--img-phone::after {
    content: "";
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: $text-color-secondary;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    mask-position: center right;
    transition: background-color 0.2s ease-in-out;
  }

  &--img-email::after {
    mask-image: url("../../icons/stack.svg#email-stroke");
  }

  &--img-phone::after {
    mask-image: url("../../icons/stack.svg#phone-stroke");
  }

  &--img-email:focus-within::after,
  &--img-phone:focus-within::after {
    background-color: $bg-color-basis;
  }

  &--img-email:has(.field-input:user-invalid)::after,
  &--img-phone:has(.field-input:user-invalid)::after,
  &--img-email:has(.field-input:--invalid)::after,
  &--img-phone:has(.field-input:--invalid)::after {
    background-color: $border-color-error;
  }

  &:hover .field-input {
    border-color: $border-color-basis;
  }

  &:hover .field-label {
    color: $text-color-secondary-lighter;
  }

  &:has(.control-input) {
    gap: 15px;
  }

  &:has(.control-input:disabled) {
    opacity: 0.4;
    pointer-events: none;
    cursor: auto;
  }

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form__input {
  width: 100%;
}

.form__comment-field {
  width: 100%;
  min-height: 150px;

  &[name="comment"] {
    border-color: $border-color-lighter;
  }
}

.form__button {
  margin: auto;
  margin-top: 10px;
  width: calc(100% - 40px);

  @media (min-width: $tablet-width) {
    // margin-top: 0;
    // flex-shrink: 0;
    // width: 256px;
  }
}

.form__note {
  margin-top: 20px;
  margin-bottom: 32px;
  color: $text-color-secondary;
  text-align: center;
}
