.hero {
  padding: 27px 20px 0;
  color: $text-color-basis;
  text-align: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  color: inherit;
}

.hero__slogan {
  @include font-some-params($font-secondary, 14px, 14px);
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
// .hero__image  {}
.hero__link-button {
  margin-bottom: 20px;
  display: inline-block;
}
