.infographic {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.infographic__item {
  @include center-flex (center, column);
  @include font-some-params($font-primary, 12px, 12px);
  min-height: 56px;
  gap: 9px;
  text-align: center;
}

.infographic__number {
  @include font-some-params($font-secondary, 24px, 24px);
  padding: 14px;
  width: 124px;
  color: $text-color-secondary;
  text-transform: uppercase;
  border: 1px solid $border-color-basis;
  border-radius: 3px;
}

.infographic__note {
  margin: -17px auto 0;
  padding: 0 15px;
  width: min-content;
  background-color: $bg-color-secondary-darken;
}
