.infographic {
  display: flex;
  // flex-wrap: wrap;
  gap: 28px;
}

.infographic__item {
  @include center-flex (center, column);
  @include font-some-params($font-primary, 12px, 12px);
  padding: 14px;
  width: 124px;
  min-height: 56px;
  gap: 9px;
  text-align: center;
  border: 1px solid $border-color-basis;
  border-radius: 3px;
}

.infographic__number {
  @include font-some-params($font-secondary, 24px, 24px);
  color: $text-color-secondary;
  text-transform: uppercase;
}

.infographic__note {
  margin: 0 auto -30px;
  padding: 0 15px;
  width: min-content;
  max-width: 160px;
  background-color: $bg-color-secondary-darken;
}
