.main-footer {
  background-color: $bg-color-secondary;
}

// .main-footer__address {}
// .main-footer__wrap {}
// .main-footer__logo {}
.main-footer__social {
  @include list-reset;
}
// .main-footer__copyright {}
