// .main-nav {}
.main-nav__toggle {
  position: absolute;
  top: 12px;
  right: 10px;

  width: 40px;
  height: 40px;
  background-image: url("../../icons/stack.svg#menu-burger");
  z-index: 2;

  @include bg-some-params($bg-color-primary);
  background-size: 24px 24px;
  border: none;
  cursor: pointer;

  &--closed {
    background-image: url("../../icons/stack.svg#menu-close");
    background-size: 20px 20px;
  }
}

.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  padding: 22px 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__link {
  @include link;
  @include font-some-params($font-secondary, 20px, 20px);
}
