.main-index__hero {
  @media (min-width: $tablet-width) {
    padding: 32px 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 126px;
    padding: 25px 0 0;
  }
}

.main-index__programs {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.main-index__manual {
  margin: 0 auto;
  padding: 22px 20px 50px;

  @media (min-width: $tablet-width) {
    padding: 47px 30px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 30px 68px;
    max-width: 1280px;
  }
}

.main-index__example {
  padding: 27px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 42px 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px;
  }
}
