.main-header {
  position: relative;

  &--decor::after {
    @include bg-some-params($bg-color-basis, center 0);
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 0 100%),
      image-set(
        url("../../images/hero/hero-bg-mobile@2x.jpg") type("image/jpg") 2x,
        url("../../images/hero/hero-bg-mobile@1x.jpg") type("image/jpg") 1x
      ),
      linear-gradient(to right, #4f4f55 50%, #434248 50%);

    z-index: -1;

    @media (min-width: $tablet-width) {
      background: none;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      right: 0;
      height: 694px;
      background-image:
        linear-gradient(to right, $bg-color-primary 50%, rgba(104, 183, 56, 0.85) 50%),
        image-set(
          url("../../images/hero/hero-bg-desktop@2x.jpg") type("image/jpg") 2x,
          url("../../images/hero/hero-bg-desktop@1x.jpg") type("image/jpg") 1x
        ),
        linear-gradient(to right, $bg-color-primary 50%, #4d4c50 50%, #3e3d41 70%);
      background-repeat: no-repeat;
      background-position: 0 0, top left calc(50vw - 25px), 0 0;
    }
  }

  &--decor .main-nav__link {
    @media (min-width: $desktop-width) {
      color: $text-color-basis;
    }
  }

  &--decor .main-nav__link--current::after {
    @media (min-width: $desktop-width) {
      background-color: $bg-color-primary;
    }
  }
}

.main-header__content {
  padding: 0 20px;
  max-width: 1280px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__logo {
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;

  & .logo__text {
    transform: translate(25%);

    @media (min-width: $tablet-width) {
      transform: none;
    }

    @media (min-width: $desktop-width) {
      width: 118px;
    }
  }

  @media (min-width: $tablet-width) {
    width: fit-content;
    column-gap: 13px;
  }
}
// .main-header__nav {}
