.main-header {
  &--decor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-image:
      image-set(
        url("../../images/hero/hero-bg-mobile@2x.jpg") type("image/jpg") 2x,
        url("../../images/hero/hero-bg-mobile@1x.jpg") type("image/jpg") 1x
      ),
      linear-gradient(to left, #62a53a 50%, #62a83c 50%);

    @include bg-some-params($bg-color-basis, center 0);
    z-index: -1;

    @media (min-width: 768px) {
      background: none;
    }

    @media (min-width: 1440px) {
      top: 0;
      right: 0;
      height: 694px;
      background-image:
        image-set(
          url("../../images/hero/hero-bg-desktop@2x.jpg") type("image/jpg") 2x,
          url("../../images/hero/hero-bg-desktop@1x.jpg") type("image/jpg") 1x
        ),
        linear-gradient(to left, #64a73c 50%, $bg-color-primary 50%);
      background-repeat: no-repeat;
      background-position: top right;
    }
  }
}
// .main-header__logo {}
// .main-header__nav {}
