.main-header {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 55px;
    width: 1280px;
  }
}

.main-header__logo {
  margin-bottom: 14px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 50vw;

  & .logo__text {
    transform: translate(50%);

    @media (min-width: $tablet-width) {
      transform: none;
    }

    @media (min-width: $desktop-width) {
      width: 118px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: fit-content;
    column-gap: 13px;
  }
}

.main-header__nav {
  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}
