.main-header {
  @media (max-width: $mobile-width-only) {
    position: relative;
    height: 66px;
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-header__content {
  padding: 13px 20px 0;
  max-width: 1280px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 55px;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 50vw;

  & .logo__text {
    transform: translate(25%);

    @media (min-width: $tablet-width) {
      transform: none;
    }

    @media (min-width: $desktop-width) {
      width: 118px;
    }
  }

  @media (min-width: $tablet-width) {
    width: fit-content;
    column-gap: 13px;
  }
}
// .main-header__nav {}
