.newsletter {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1280px;
  }
}

.newsletter__title {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.newsletter__description {
  @include font-some-params($font-secondary, 16px, 24px);
  margin: 0;
  margin-bottom: 24px;
  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    margin: 0 auto 24px;
    max-width: clamp(632px, 85%, 752px);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}

// .newsletter__form {}
