.newsletter__title {
  margin: 0;
  margin-bottom: 32px;
  position: relative;
  width: fit-content;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    padding-left: 0;
  }
}

.newsletter__description {
  @include font-some-params($font-secondary, 16px, 24px);
  margin: 0;
  margin-bottom: 24px;
  color: $text-color-secondary;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto 24px;
    max-width: clamp(632px, 85%, 752px);
    font-size: 24px;
    line-height: 32px;
  }
}

// .newsletter__form {}
