.page {
  height: 100%;
}

.page__body {
  @include font-some-params;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-weight: 400;
  font-style: normal;
  color: $text-color-primary;
  background-color: $bg-color-primary;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__header {
  padding-top: 13px;
  flex-shrink: 0;
  position: relative;
}

.page__main {
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
// .page__footer {}
