// .product {}
.product__title-link {
  @include link;
}

.product__title {
  @include font-some-params($font-secondary, 16px, 20px);
  color: $text-color-secondary-light;
}
// .product__image {}
.product__specification {
  @include font-some-params($font-primary, 12px, 16px);
}
// .product__specification-note {}
// .product__specification-value {}
// .product__order {}
