.product {
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: 140px 1fr;
  row-gap: 14px;
  border-top: 1px solid $bg-color-secondary-hover;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    width: 324px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-image: linear-gradient(180deg, transparent 81px, $bg-color-secondary 81px 100%);
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__title-link {
  @include link;
  grid-column: 2 / 3;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    order: -1;
  }
}

.product__title {
  @include font-some-params($font-secondary, 16px, 20px);
  margin: 0;
  max-width: 76px;
  color: $text-color-secondary-light;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    order: -2;
  }
}

.product__image {
  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.product__specification-wrap {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
}

.product__specification {
  @include font-some-params($font-primary, 12px, 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid $border-color-basis;
  }
}
// .product__specification-note {}
.product__specification-value {
  margin: 0;
}

.product__order {
  margin-top: auto;
  grid-column: span 2;
}
