.products-show-more {
  position: relative;
  padding: 78px 20px 25px;
  text-align: center;
  border-top: 1px solid $bg-color-secondary-hover;
  border-bottom: 1px solid $bg-color-secondary-hover;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 39px;
    transform: translate(-50%, 50%);
    display: block;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: translate(-50%, 50%) rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    padding: 160px 37px 40px;
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: 2px solid $bg-color-secondary;

    &::before,
    &::after {
      top: 80px;
      width: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 154px;
    width: 245px;
  }
}

.products-show-more__title {
  @include font-some-params($font-secondary, 16px, 20px);
  margin: 0;
  margin-bottom: 8px;
  color: $text-color-secondary-lighter;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 170px;
  }
}

.products-show-more__description {
  @include font-some-params($font-primary, 12px, 16px);
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
  }
}

.products-show-more__button {
  @media (min-width: $tablet-width) {
    margin-top: auto;
    align-self: stretch;
  }
}
