.program-box {
  @include bg-some-params($bg-color-secondary, 20px 20px);
  margin: 0 auto 20px;
  padding: 30px 20px 20px;

  &--slim {
    background-image: url("../../icons/stack.svg#cat-slim");
    background-size: 50px 53px;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#cat-pro");
    background-position: 10px 20px;
    background-size: 67px 53px;
  }
}

.program-box__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
}

.program-box__description {
  margin: 0;
  margin-bottom: 23px;
}

.program-box__link {
  @include link;
  @include font-some-params($font-secondary, 16px, 16px);
  padding: 4px 0;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 15px;

  &::after {
    @include bg-some-params(transparent, right);
    content: "";
    margin-right: 10px;
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow-right");
    background-size: 32px 12px;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }
}
