.programs__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

.programs__item {
  padding: 28px 20px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 74px 53px 55px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;

    &:not(:last-child) {
      margin: 0;
    }
  }
}
