.programs {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.programs__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

.programs__item {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}
