.quality-box {
  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;

    @include bg-some-params;
    background-size: 30px 32px;
    flex-shrink: 0;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#icon-leaf");
  }

  &--water::before {
    background-image: url("../../icons/stack.svg#icon-water");
  }

  &--cutlery::before {
    background-image: url("../../icons/stack.svg#icon-cutlery");
  }

  &--scales::before {
    background-image: url("../../icons/stack.svg#icon-scales");
  }
}

.quality-box__description {
  margin: 0;
}
