.quality-box {
  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;

    @include bg-some-params;
    background-size: 30px 32px;
    flex-shrink: 0;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#icon-leaf");
  }

  &--water::before {
    background-image: url("../../icons/stack.svg#icon-water");
  }

  &--cutlery::before {
    background-image: url("../../icons/stack.svg#icon-cutlery");
  }

  &--scales::before {
    background-image: url("../../icons/stack.svg#icon-scales");
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 150px;
    gap: 0 25px;
    align-items: start;

    &::before {
      margin-top: 40px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(item);
      counter-increment: item;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      justify-self: center;
      z-index: 1;

      @include font-some-params($font-secondary, 280px, 280px);
      color: $bg-color-secondary;
    }
  }
}

.quality-box__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    z-index: 2;
  }
}
